@import "./themes/light.css";
@import "./themes/dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		--primary: #161925;
		--secondary: #174d64;
		--accent: #a8dadc;
		--textColor: #f1faee;
		--details: #f49390;
		--opposite: #e9e6da;
		font-family: "JetBrains Mono", monospace;
	}

	html[data-theme="dark"] {
		--primary: #161925;
		--secondary: #174d64;
		--accent: #a8dadc;
		--textColor: #f1faee;
		--details: #f49390;
		--opposite: #e9e6da;
	}

	html[data-theme="light"] {
		--primary: #f6f8ff;
		--secondary: #74b389;
		--accent: #705f2e;
		--textColor: #1f1b1b;
		--details: #544443;
		--opposite: #090700;
	}
}
