@tailwind base;
@tailwind components;
@tailwind utilities;

/* .parentGrid {
	@apply grid grid-cols-[repeat(5,1fr)] grid-rows-[repeat(5,1fr)] gap-x-0 gap-y-0;
}
.fixedHeader {
	grid-area: 1 / 1 / 2 / 6;
}
.fixedSide {
	grid-area: 2 / 1 / 6 / 3;
}
.mainContent {
	grid-area: 2 / 3 / 6 / 6;
} */
